<h1>Are you sure you want to delete this account?</h1>
<form action="<%= action %>" method="<%= method %>">
  <a href="/user/<%= currentUser._id %>/edit"><button type="button">Cancel</button></a>
  <button type="submit">Delete</button>
</form>